h5 {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

span:hover,
p:hover,
h1:hover,
h3:hover,
h4:hover,
h5:hover {
  cursor: default;
}

.tarjeta {
  border-radius: 10px;
  border-color: #000;
  border-style: solid;

  color: white;

  background-size: cover;

  padding: 20px;
  margin: 1%;
  width: 40%
}

.tarjeta:hover {
  filter: saturate(200%);
  transition: all .5s ease-in-out
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;

  padding: 5%;
}

.paisFormulario {
  margin: 1%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.agruparPor {
  margin: 1%;
  text-align: center;
}

.tarjeta .cuerpo {
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  height: 100%;
  padding: 20px;
}

.switches {
  display: flex;
  justify-content: space-between space-around;
}

@media(max-width:900px) {
  .tarjeta {
    width: 80%;
  }
}

@media(max-width:400px) {
  .tarjeta {
    width: 90%;
  }

  .tituloContinentes {
    width: 90%;
  }

  .jumbotron {
    padding: 15%;
  }

  .formulario {
    margin-top: 20px;
  }
}